body{
  /* rules go here */
}

#navlist li{
	display: inline;
	float: right;
	padding-right:10px;
}

#navlist #logo {
	height:40px;
	width:40px;
	float: left;
	padding-left: 10%;
}

.newtweets{
	position: relative;
	left: 30%;
	display: inline;
}

.newtweets #new{
	border-radius: 3px;
	background-color: #06C;
	border-color: #105296;
	border: 1px solid #999;
	border-bottom-width: 3px;
	color: white;
	font-size: .9em;
	font-weight: bold;
	padding: .5em 1em;
	text-decoration: none;
}


.indtweet{
	font-size:110%;
}

.tweetholder{
	border: 2px solid;
    border-radius: 25px;
    padding:10px;
    margin:10px;
    position: relative;
  	left: 28%;
  	width:40%;
}

.tweetholder .user{
	font-weight: bold;
	font size:130%;
}


.tweetbody div {

}

.timeline {
	position:absolute;
	top:10%;
}