body{
  /* rules go here */
}

#navlist li{
	display: inline;
	float: right;
	padding-right:10px;
}

#navlist #logo {
	height:50px;
	width:50px;
	float: left;
}

.indtweet{
	font-size:120%;
	border: 2px solid;
    border-radius: 25px;
}

.newtweets{
	position: relative;
	left: 40%;
	display: inline;

}

.newtweets #new{
	border-radius: 3px;
	background-color: #06C;
	border-color: #105296;
	border: 1px solid #999;
	border-bottom-width: 3px;
	color: white;
	font-size: .9em;
	font-weight: bold;
	padding: .5em 1em;
	text-decoration: none;
}

.tweetbody div {
	position: relative;
  	left: 28%;
  	width:40%;
}

.timeline {
	position:absolute;
	top:10%;
}